[submodule "browser-extension"]
	path = browser-extension
	url = https://github.com/Orcest-ai/lamino-extension.git
[submodule "embed"]
	path = embed
	url = https://github.com/Orcest-ai/lamino-embed.git
	branch = main
